  <div id="clockCard" class="clock-card">
    <div class="hour" id="hour">00</div>
    <hr style="margin: 10px 0;" />
    <div class="minute" id="minute">00</div>
  <div id="toggleJam">
    <div class="second" id="second">00</div>
  </div>
  </div>

  <script>
    function updateClock() {
      const now = new Date();
      const hour = String(now.getHours()).padStart(2, '0');
      const minute = String(now.getMinutes()).padStart(2, '0');
      const second = String(now.getSeconds()).padStart(2, '0');

      document.getElementById('hour').textContent = hour;
      document.getElementById('minute').textContent = minute;
      document.getElementById('second').textContent = second;
    }

    setInterval(updateClock, 1000);
    updateClock();
  </script>