<!-- Modal konfirmasi delete -->
<div class="modal fade" id="globalConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-danger">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Konfirmasi</h5>
      </div>
      <div class="modal-body">
        <strong><span id="globalConfirmMessage"></span></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary" id="confirmDeleteBtn">
          <span class="btn-text">Ya, Hapus</span>
          <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  // Fungsi global konfirmasi hapus
  function globalConfirm(itemName, onConfirmCallback) {
    const confirmModal = new bootstrap.Modal(document.getElementById('globalConfirmModal'));
    document.getElementById('globalConfirmMessage').textContent = itemName;

    // Pastikan tidak menumpuk event
    const confirmBtn = document.getElementById('confirmDeleteBtn');
    const newBtn = confirmBtn.cloneNode(true);
    confirmBtn.parentNode.replaceChild(newBtn, confirmBtn);

    const spinner = newBtn.querySelector('.spinner-border');
    const btnText = newBtn.querySelector('.btn-text');

    // Event konfirmasi
    newBtn.addEventListener('click', () => {
        spinner.classList.add('d-none');
        btnText.classList.remove('d-none');
        newBtn.disabled = false;
      confirmModal.hide();
      if (typeof onConfirmCallback === 'function') {
      spinner.classList.remove('d-none');
      btnText.classList.add('d-none');
      newBtn.disabled = true;
        onConfirmCallback();
      }
    });

    confirmModal.show();
  }
</script>
