
  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>

<script>
const firebaseConfig = {
  apiKey: "AIzaSyDUIngXq4cj7XMx6RSOEiNj-aWSjhk0FZ4",
  authDomain: "lalajo-bokep.firebaseapp.com",
  databaseURL: "https://lalajo-bokep-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "lalajo-bokep",
  storageBucket: "lalajo-bokep.firebasestorage.app",
  messagingSenderId: "243575604544",
  appId: "1:243575604544:web:5c161c68407947a0b8e6a5",
  measurementId: "G-QMRXFDSLDN"
};

  // Inisialisasi Firebase
  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  const db = firebase.database();
</script>
